---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Studion">
		<section x-data="{ open: false }" class="mt-20">
			<div class="" >
				<img src="../assets/images/studion.png" alt="" class="w-full object-center mt-20 hidden">
				<video class="inset-0 w-full aspect-video" autoplay muted loop>
					<source src="../assets/video/studion_1.mp4" type="video/mp4">
				</video>
			</div>
		
			<div class="wrapper">
				<h2 class="text-2xl py-4 text-center invisible">Daylight</h2>
				<p class="text-center tracking-wide">1200 kvadratmeter fördelat på 4 studios, podd-studio och sköna sociala utrymmen.
					Ojämförbart med allt och med obegränsade möjligheter erbjuder studion produktioner i allt från flerrumsbyggen, vassåkrar och ösregn till totalt mörker och dagsljus.
					Livesändningar, podd-produktioner, snickeri och ytor för volym och logistik.
					Oavsett du kommer som produktionsbolag, fotograf eller inhouseavdelningen kommer din produktion nå nya höjder på studion. Här finns inga problem, bara lösningar i en historisk atmosfär!</p>

				<div class="flex items-center justify-center py-8">
					<button @click="open = ! open" type="button" class=" bg-gray-900 rounded w-2/3">
						<p class="text-sm leading-6 text-white">Läs mer</p>
						<span class="sr-only">Dismiss</span>
					</button>
				</div>
			</div>
			<div x-show="open" @click.outside="open = false" class="w-full">
				<div class="bg-gray-900 py-8 ">
					<div class="mx-auto max-w-7xl px-6 lg:px-8">
					  <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
						<div class="mx-auto w-full max-w-xl lg:mx-0">
						  <h2 class="text-3xl font-bold tracking-tight text-white">DAYLIGHT</h2>
						  <p class="mt-6 text-lg leading-8 text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue.</p>
						  <div class="mt-8 flex items-center gap-x-6">
							<a href="#" class="text-sm font-semibold text-white">Ladda ner en PDF <span aria-hidden="true">&rarr;</span></a>
						  </div>
						</div>
						<div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-2 sm:gap-y-2 lg:mx-0 lg:max-w-none lg:pl-8">
						  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
						  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
						</div>
					  </div>
					</div>
				  </div>

			</div>

		</section>
		<section x-data="{ open: false }" class="snap-start">
			<div class="wrapper-hero-video">
				<video class="inset-0 w-screen aspect-video" autoplay muted loop>
					<source src="../assets/video/daylight_1.mp4" type="video/mp4">
				</video>
			</div>
			<div class="wrapper">
				<h2 class="text-2xl py-4 text-center invisible">Daylight</h2>
				<p class="text-center  tracking-wide">Vår största studio på 300 m2 (20x15meter), två stora fönster (310x310) med löstagbara spröjs,
					samt glaspyramiden på taket, ger ett fantastiskt ljus som dessutom är fullt kontrollerbart med mörkläggningsgardiner. Rundhorisont mot tak och golv samt i hörnet. 8 meter till tak, 3-fas 64 amp, flyttbar entresol för fotografering ovanifrån
				</p>
				<div class="flex items-center justify-center py-8">
					<button @click="open = ! open" type="button" class=" bg-gray-900 rounded w-2/3">
						<p class="text-sm leading-6 text-white">Läs mer</p>
						<span class="sr-only">Dismiss</span>
					</button>
				</div>
			</div>
			<div x-show="open" @click.outside="open = false" class="w-full">
				<div class="bg-gray-900 py-8 ">
					<div class="mx-auto max-w-7xl px-6 lg:px-8">
					  <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
						<div class="mx-auto w-full max-w-xl lg:mx-0">
						  <h2 class="text-3xl font-bold tracking-tight text-white">DAYLIGHT</h2>
						  <p class="mt-6 text-lg leading-8 text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue.</p>
						  <div class="mt-8 flex items-center gap-x-6">
							<a href="#" class="text-sm font-semibold text-white">Ladda ner en PDF <span aria-hidden="true">&rarr;</span></a>
						  </div>
						</div>
						<div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-2 sm:gap-y-2 lg:mx-0 lg:max-w-none lg:pl-8">
						  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
						  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
						</div>
					  </div>
					</div>
				  </div>

			</div>

			</section>		
			<section x-data="{ open: false }" class="snap-start ">
				<div class="wrapper-hero-video">
					<video class="inset-0 w-screen aspect-video" autoplay muted loop>
						<source src="../assets/video/daylight_1.mp4" type="video/mp4">
					</video>
				</div>
				<div class="wrapper">
					<h2 class="text-2xl py-4 text-center invisible">Daylight</h2>
					<p class="text-center  tracking-wide">Vår största studio på 300 m2 (20x15meter), två stora fönster (310x310) med löstagbara spröjs,
						samt glaspyramiden på taket, ger ett fantastiskt ljus som dessutom är fullt kontrollerbart med mörkläggningsgardiner. Rundhorisont mot tak och golv samt i hörnet. 8 meter till tak, 3-fas 64 amp, flyttbar entresol för fotografering ovanifrån
					</p>
					<div class="flex items-center justify-center py-8">
						<button @click="open = ! open" type="button" class=" bg-gray-900 rounded w-2/3">
							<p class="text-sm leading-6 text-white">Läs mer</p>
							<span class="sr-only">Dismiss</span>
						</button>
					</div>
				</div>
				<div x-show="open" @click.outside="open = false" class="w-full">
					<div class="bg-gray-900 py-8 ">
						<div class="mx-auto max-w-7xl px-6 lg:px-8">
						  <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
							<div class="mx-auto w-full max-w-xl lg:mx-0">
							  <h2 class="text-3xl font-bold tracking-tight text-white">DAYLIGHT</h2>
							  <p class="mt-6 text-lg leading-8 text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue.</p>
							  <div class="mt-8 flex items-center gap-x-6">
								<a href="#" class="text-sm font-semibold text-white">Ladda ner en PDF <span aria-hidden="true">&rarr;</span></a>
							  </div>
							</div>
							<div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-2 sm:gap-y-2 lg:mx-0 lg:max-w-none lg:pl-8">
							  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
							  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
							</div>
						  </div>
						</div>
					  </div>
	
				</div>
	
				</section>		
				<section x-data="{ open: false }" class="snap-start ">
					<div class="wrapper-hero-video">
						<video class="inset-0 w-screen aspect-video" autoplay muted loop>
							<source src="../assets/video/daylight_1.mp4" type="video/mp4">
						</video>
					</div>
					<div class="wrapper">
						<h2 class="text-2xl py-4 text-center invisible">Daylight</h2>
						<p class="text-center  tracking-wide">Vår största studio på 300 m2 (20x15meter), två stora fönster (310x310) med löstagbara spröjs,
							samt glaspyramiden på taket, ger ett fantastiskt ljus som dessutom är fullt kontrollerbart med mörkläggningsgardiner. Rundhorisont mot tak och golv samt i hörnet. 8 meter till tak, 3-fas 64 amp, flyttbar entresol för fotografering ovanifrån
						</p>
						<div class="flex items-center justify-center py-8">
							<button @click="open = ! open" type="button" class=" bg-gray-900 rounded w-2/3">
								<p class="text-sm leading-6 text-white">Läs mer</p>
								<span class="sr-only">Dismiss</span>
							</button>
						</div>
					</div>
					<div x-show="open" @click.outside="open = false" class="w-full">
						<div class="bg-gray-900 py-8 ">
							<div class="mx-auto max-w-7xl px-6 lg:px-8">
							  <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
								<div class="mx-auto w-full max-w-xl lg:mx-0">
								  <h2 class="text-3xl font-bold tracking-tight text-white">DAYLIGHT</h2>
								  <p class="mt-6 text-lg leading-8 text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue.</p>
								  <div class="mt-8 flex items-center gap-x-6">
									<a href="#" class="text-sm font-semibold text-white">Ladda ner en PDF <span aria-hidden="true">&rarr;</span></a>
								  </div>
								</div>
								<div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-2 sm:gap-y-2 lg:mx-0 lg:max-w-none lg:pl-8">
								  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
								  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
								</div>
							  </div>
							</div>
						  </div>
		
					</div>
		
					</section>	
				</MainLayout>	

	<style is:global>
		html {
			font-family: system-ui, sans-serif;
			font-size: 1.25rem;
			line-height: 1.5;
		}
		img,
		svg,
		video {
			max-width: 100%;
			display: block;
		}
		body {
			
			
			font-family: 'Roboto', sans-serif;
			line-height: 1.4;
			overflow-x: hidden;
		
}
	
		.wrapper {
			width: min(70ch, 100% - 4rem);
			margin-inline: auto;
		}
		.quick-example {
			margin: 1rem;
			padding: 1rem;
			background: hsl(200 50% 50% / 0.4);
			border-radius: 0.5rem;
	
			display: grid;
			grid-template-rows: 0fr;
			transition: grid-template-rows 500ms;
			}
	
		.quick-example > div {
			overflow: hidden;
			}
	
		.quick-example:hover {
			grid-template-rows: 1fr;
			}



.accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.accordion-content[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

.accordion-content > div {
  overflow: hidden;
}

.accordion {
 
  padding: 1rem;
}

.accordion-panel {
  padding: 1rem;
  border: 1px solid;
}

.accordion h2 {
  position: relative;
}

.accordion-wrapper {
  width: 100%;
  max-width: 70rem;
  margin: .5rem auto;
  padding: .5rem 1rem;
  background-color: #f4f4f4;

}
.accordion {
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.accordion-button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: .5rem 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  
}
.accordion-button div {
  
  font-weight: 700;
  color: #191919;
  flex: 1;
  text-align: center;
}
.accordion-body:not(.accordion-body:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}
.accordion-content p {
  line-height: 1.4;
  font-size: 400;
  padding: 1rem 0;
  color: #303030;
}
/* These Classes Used in Alpine Js for Transition Effects */

.transition-500 {
  transition: all 1s ease-in-out;
}
.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}
.transitionX-100 {
  transform: translateX(-100%);
}
.transitionX-0 {
  transform: translateX(0);
}

	</style>