---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Studion">
		<section id="studion"  class="pt-16">
			<div class="" >
				<img src="../assets/images/studion.png" alt="" class="w-full object-center mt- hidden">
				<video id='video1' class="inset-0 w-full" playsinline autoplay muted loop>
					<source src="../assets/video/studion.mp4" type="video/mp4">
				</video>
			</div>
		
			<div class="wrapper mt-6">
				<h2 class="text-2xl py-1 text-center hidden">Studion</h2>
				<p class="text-center text-xl leading-8 text-gray-600">1200 kvadratmeter fördelat på 4 studios, podd-studio och sköna sociala utrymmen.
					Ojämförbart med allt och med obegränsade möjligheter erbjuder studion produktioner i allt från flerrumsbyggen, vassåkrar och ösregn till totalt mörker och dagsljus.
					Livesändningar, podd-produktioner, snickeri och ytor för volym och logistik.
					Oavsett du kommer som produktionsbolag, fotograf eller inhouseavdelningen kommer din produktion nå nya höjder på studion. Här finns inga problem, bara lösningar i en historisk atmosfär!</p>
			</div>
				<!--<div class="w-full mt-12">
					<div class="mx-auto max-w-7xl ">
						<h2 class="text-6xl text-slate-200">Studion</h2>
					  <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
						<div class="mx-auto w-full max-w-xl lg:mx-0">
						  
						  <p class="mt-6 text-lg leading-8 text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue.</p>
						  <div class="mt-8 flex items-center gap-x-6">
							<a href="#" class="text-sm font-semibold text-white">Ladda ner en PDF <span aria-hidden="true">&rarr;</span></a>
						  </div>
						</div>
						<div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-2 sm:gap-y-2 lg:mx-0 lg:max-w-none lg:pl-8">
						  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
						  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
						</div>
					  </div>
					</div>
				</div>	-->		
		
				<div class="bg-white py-24 sm:py-32">
					<div class="mx-auto max-w-7xl px-6 lg:px-8">
					  <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">4 Studios + Poddstudio</h2>
					  <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
						<img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/transistor-logo-gray-900.svg" alt="Transistor" width="158" height="48">
						<img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/reform-logo-gray-900.svg" alt="Reform" width="158" height="48">
						<img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/tuple-logo-gray-900.svg" alt="Tuple" width="158" height="48">
						<img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/savvycal-logo-gray-900.svg" alt="SavvyCal" width="158" height="48">
						<img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/statamic-logo-gray-900.svg" alt="Statamic" width="158" height="48">
					  </div>
					</div>
				  </div>

				<div class="overflow-hidden bg-white py-32">
					<div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
					  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8">
						<div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
						  <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Här får "All Inclusive"</h2>
						  <p class="mt-6 text-xl leading-8 text-gray-600">Den samlade kompetensen i studion och folk som verkar i den täcker alla moment i det kreativa arbetet kring foto- och filmproduktioner.
							Behöver du stöttning, avslastning eller hjälp av:
							Assitenter, manusförfattare, mask, hår/make, fotografering, film,
							AD, copy, klipp, vfx, produktionsledning - låt oss veta!</p>
				
						  <p class="mt-6 text-base leading-7 text-gray-600">Vi älskar samarbeten men blir glad av, blir bättre av, och när vår erfarenhet gör andra bättre! </p>
						  <div class="mt-10 flex">
							<a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Kontakta oss.. <span aria-hidden="true">&rarr;</span></a>
						  </div>
						</div>
						<div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
						  <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end">
							<img src="https://images.unsplash.com/photo-1670272502246-768d249768ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1152&q=80" alt="" class="aspect-[7/5] w-[37rem] max-w-none rounded-2xl bg-gray-50 object-cover">
						  </div>
						  <div class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-[37rem] lg:items-start lg:justify-end lg:gap-x-8">
							<div class="order-first flex w-64 flex-none justify-end self-end lg:w-auto">
							  <img src="https://images.unsplash.com/photo-1605656816944-971cd5c1407f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=768&h=604&q=80" alt="" class="aspect-[4/3] w-[24rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover">
							</div>
							<div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none">
							  <img src="https://images.unsplash.com/photo-1568992687947-868a62a9f521?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1152&h=842&q=80" alt="" class="aspect-[7/5] w-[37rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover">
							</div>
							<div class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none">
							  <img src="https://images.unsplash.com/photo-1612872087720-bb876e2e67d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=768&h=604&q=80" alt="" class="aspect-[4/3] w-[24rem] max-w-none rounded-2xl bg-gray-50 object-cover">
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>






				<div class="relative isolate bg-white pb-32 pt-24 sm:pt-32">
					<div class="absolute inset-x-0 top-1/2 -z-10 -translate-y-1/2 transform-gpu overflow-hidden opacity-30 blur-3xl" aria-hidden="true">
					  <div class="ml-[max(50%,38rem)] aspect-[1313/771] w-[82.0625rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
					</div>
					<div class="absolute inset-x-0 top-0 -z-10 flex transform-gpu overflow-hidden pt-32 opacity-25 blur-3xl sm:pt-40 xl:justify-end" aria-hidden="true">
					  <div class="ml-[-22rem] aspect-[1313/771] w-[82.0625rem] flex-none origin-top-right rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] xl:ml-0 xl:mr-[calc(50%-12rem)]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
					</div>
					<div class="mx-auto max-w-7xl px-6 lg:px-8">
					  <div class="mx-auto max-w-xl text-center">
						<h2 class="text-lg font-semibold leading-8 tracking-tight text-indigo-600">Testimonials</h2>
						<p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Lite av folket som har varit här</p>
					  </div>
					  <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 grid-rows-1 gap-8 text-sm leading-6 text-gray-900 sm:mt-20 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-flow-col xl:grid-cols-4">
						<figure class="rounded-2xl bg-white shadow-lg ring-1 ring-gray-900/5 sm:col-span-2 xl:col-start-2 xl:row-end-1">
						  <blockquote class="p-6 text-lg font-semibold leading-7 tracking-tight text-gray-900 sm:p-12 sm:text-xl sm:leading-8">
							<p>“Integer id nunc sit semper purus. Bibendum at lacus ut arcu blandit montes vitae auctor libero. Hac condimentum dignissim nibh vulputate ut nunc. Amet nibh orci mi venenatis blandit vel et proin. Non hendrerit in vel ac diam.”</p>
						  </blockquote>
						  <figcaption class="flex flex-wrap items-center gap-x-4 gap-y-4 border-t border-gray-900/10 px-6 py-4 sm:flex-nowrap">
							<img class="h-10 w-10 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=1024&h=1024&q=80" alt="">
							<div class="flex-auto">
							  <div class="font-semibold">Brenna Goyette</div>
							  <div class="text-gray-600">@brennagoyette</div>
							</div>
							<img class="h-10 w-auto flex-none" src="https://tailwindui.com/img/logos/savvycal-logo-gray-900.svg" alt="">
						  </figcaption>
						</figure>
						<div class="space-y-8 xl:contents xl:space-y-0">
						  <div class="space-y-8 xl:row-span-2">
							<figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
							  <blockquote class="text-gray-900">
								<p>“Laborum quis quam. Dolorum et ut quod quia. Voluptas numquam delectus nihil. Aut enim doloremque et ipsam.”</p>
							  </blockquote>
							  <figcaption class="mt-6 flex items-center gap-x-4">
								<img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
								<div>
								  <div class="font-semibold">Leslie Alexander</div>
								  <div class="text-gray-600">@lesliealexander</div>
								</div>
							  </figcaption>
							</figure>
				  
							<!-- More testimonials... -->
						  </div>
						  <div class="space-y-8 xl:row-start-1">
							<figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
							  <blockquote class="text-gray-900">
								<p>“Aut reprehenderit voluptatem eum asperiores beatae id. Iure molestiae ipsam ut officia rem nulla blanditiis.”</p>
							  </blockquote>
							  <figcaption class="mt-6 flex items-center gap-x-4">
								<img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
								<div>
								  <div class="font-semibold">Lindsay Walton</div>
								  <div class="text-gray-600">@lindsaywalton</div>
								</div>
							  </figcaption>
							</figure>
				  
							<!-- More testimonials... -->
						  </div>
						</div>
						<div class="space-y-8 xl:contents xl:space-y-0">
						  <div class="space-y-8 xl:row-start-1">
							<figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
							  <blockquote class="text-gray-900">
								<p>“Voluptas quos itaque ipsam in voluptatem est. Iste eos blanditiis repudiandae. Earum deserunt enim molestiae ipsum perferendis recusandae saepe corrupti.”</p>
							  </blockquote>
							  <figcaption class="mt-6 flex items-center gap-x-4">
								<img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
								<div>
								  <div class="font-semibold">Tom Cook</div>
								  <div class="text-gray-600">@tomcook</div>
								</div>
							  </figcaption>
							</figure>
				  
							<!-- More testimonials... -->
						  </div>
						  <div class="space-y-8 xl:row-span-2">
							<figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
							  <blockquote class="text-gray-900">
								<p>“Molestias ea earum quos nostrum doloremque sed. Quaerat quasi aut velit incidunt excepturi rerum voluptatem minus harum.”</p>
							  </blockquote>
							  <figcaption class="mt-6 flex items-center gap-x-4">
								<img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1519345182560-3f2917c472ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
								<div>
								  <div class="font-semibold">Leonard Krasner</div>
								  <div class="text-gray-600">@leonardkrasner</div>
								</div>
							  </figcaption>
							</figure>
				  
							<!-- More testimonials... -->
						  </div>
						</div>
					  </div>
					</div>
				  </div>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
			</section>

		<section id="studion"  class="">
			<div class="" >
				<img src="../assets/images/studion.png" alt="" class="w-full object-center mt- hidden">
				<video id='video1' class="inset-0 w-full" playsinline autoplay muted loop>
					<source src="../assets/video/daylight.mp4" type="video/mp4">
				</video>
			</div>
		
			<div class="wrapper mt-6">
				<h2 class="text-2xl py-1 text-center hidden">Daylight</h2>
				<p class="text-center tracking-wide">1200 kvadratmeter fördelat på 4 studios, podd-studio och sköna sociala utrymmen.
					Ojämförbart med allt och med obegränsade möjligheter erbjuder studion produktioner i allt från flerrumsbyggen, vassåkrar och ösregn till totalt mörker och dagsljus.
					Livesändningar, podd-produktioner, snickeri och ytor för volym och logistik.
					Oavsett du kommer som produktionsbolag, fotograf eller inhouseavdelningen kommer din produktion nå nya höjder på studion. Här finns inga problem, bara lösningar i en historisk atmosfär!</p>
			</div>
				<div class="w-full bg-gray-900 mt-12">
					<div class="mx-auto max-w-7xl ">
						<h2 class="text-6xl text-white">Daylight</h2>
					  <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
						<div class="mx-auto w-full max-w-xl lg:mx-0">
						  
						  <p class="mt-6 text-lg leading-8 text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue.</p>
						  <div class="mt-8 flex items-center gap-x-6">
							<a href="#" class="text-sm font-semibold text-white">Ladda ner en PDF <span aria-hidden="true">&rarr;</span></a>
						  </div>
						</div>
						<div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-2 sm:gap-y-2 lg:mx-0 lg:max-w-none lg:pl-8">
						  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
						  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
						</div>
					  </div>
					</div>
				</div>			
		</section>


		<section id="studion"  class="">
			<div class="" >
				<img src="../assets/images/studion.png" alt="" class="w-full object-center mt- hidden">
				<video id='video1' class="inset-0 w-full" playsinline autoplay muted loop>
					<source src="../assets/video/ecom.mp4" type="video/mp4">
				</video>
			</div>
		
			<div class="wrapper mt-6">
				<h2 class="text-2xl py-1 text-center hidden">E-Com</h2>
				<p class="text-center tracking-wide">1200 kvadratmeter fördelat på 4 studios, podd-studio och sköna sociala utrymmen.
					Ojämförbart med allt och med obegränsade möjligheter erbjuder studion produktioner i allt från flerrumsbyggen, vassåkrar och ösregn till totalt mörker och dagsljus.
					Livesändningar, podd-produktioner, snickeri och ytor för volym och logistik.
					Oavsett du kommer som produktionsbolag, fotograf eller inhouseavdelningen kommer din produktion nå nya höjder på studion. Här finns inga problem, bara lösningar i en historisk atmosfär!</p>
			</div>
				<div class="w-full bg-gray-900 mt-12">
					<div class="mx-auto max-w-7xl ">
						<h2 class="text-6xl text-white">E-Com</h2>
					  <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
						<div class="mx-auto w-full max-w-xl lg:mx-0">
						  
						  <p class="mt-6 text-lg leading-8 text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue.</p>
						  <div class="mt-8 flex items-center gap-x-6">
							<a href="#" class="text-sm font-semibold text-white">Ladda ner en PDF <span aria-hidden="true">&rarr;</span></a>
						  </div>
						</div>
						<div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-2 sm:gap-y-2 lg:mx-0 lg:max-w-none lg:pl-8">
						  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
						  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
						</div>
					  </div>
					</div>
				</div>			
		</section>

		<section x-data="{ open: false }" class="">
			<div class="wrapper-hero-video">
				<video id='video2' class="inset-0 w-screen aspect-video" playsinline autoplay muted loop>
					<source src="../assets/video/daylight.mp4" type="video/mp4">
				</video>
			</div>
			<div class="wrapper">
				<h2 class="text-2xl py-4 text-center invisible">Daylight</h2>
				<p class="text-center  tracking-wide">Vår största studio på 300 m2 (20x15meter), två stora fönster (310x310) med löstagbara spröjs,
					samt glaspyramiden på taket, ger ett fantastiskt ljus som dessutom är fullt kontrollerbart med mörkläggningsgardiner. Rundhorisont mot tak och golv samt i hörnet. 8 meter till tak, 3-fas 64 amp, flyttbar entresol för fotografering ovanifrån
				</p>
				<div class="flex items-center justify-center py-8">
					<button @click="open = ! open" type="button" class=" bg-gray-900 rounded w-2/3">
						<p class="text-sm leading-6 text-white">Läs mer</p>
						<span class="sr-only">Dismiss</span>
					</button>
				</div>
			</div>
			<div x-show="open" @click.outside="open = false" class="w-full">
				<div class="bg-gray-900 py-8 ">
					<div class="mx-auto max-w-7xl px-6 lg:px-8">
					  <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
						<div class="mx-auto w-full max-w-xl lg:mx-0">
						  <h2 class="text-3xl font-bold tracking-tight text-white">DAYLIGHT</h2>
						  <p class="mt-6 text-lg leading-8 text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue.</p>
						  <div class="mt-8 flex items-center gap-x-6">
							<a href="#" class="text-sm font-semibold text-white">Ladda ner en PDF <span aria-hidden="true">&rarr;</span></a>
						  </div>
						</div>
						<div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-2 sm:gap-y-2 lg:mx-0 lg:max-w-none lg:pl-8">
						  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
						  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
						</div>
					  </div>
					</div>
				  </div>

			</div>

			</section>		
			<section x-data="{ open: false }" class="">
				<div class="wrapper-hero-video">
					<video id='video3' class="inset-0 w-screen aspect-video" playsinline autoplay muted loop>
						<source src="../assets/video/daylight.mp4" type="video/mp4">
					</video>
				</div>
				<div class="wrapper">
					<h2 class="text-2xl py-4 text-center invisible">Daylight</h2>
					<p class="text-center  tracking-wide">Vår största studio på 300 m2 (20x15meter), två stora fönster (310x310) med löstagbara spröjs,
						samt glaspyramiden på taket, ger ett fantastiskt ljus som dessutom är fullt kontrollerbart med mörkläggningsgardiner. Rundhorisont mot tak och golv samt i hörnet. 8 meter till tak, 3-fas 64 amp, flyttbar entresol för fotografering ovanifrån
					</p>
					<div class="flex items-center justify-center py-8">
						<button @click="open = ! open" type="button" class=" bg-gray-900 rounded w-2/3">
							<p class="text-sm leading-6 text-white">Läs mer</p>
							<span class="sr-only">Dismiss</span>
						</button>
					</div>
				</div>
				<div x-show="open" @click.outside="open = false" class="w-full">
					<div class="bg-gray-900 py-8 ">
						<div class="mx-auto max-w-7xl px-6 lg:px-8">
						  <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
							<div class="mx-auto w-full max-w-xl lg:mx-0">
							  <h2 class="text-3xl font-bold tracking-tight text-white">DAYLIGHT</h2>
							  <p class="mt-6 text-lg leading-8 text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue.</p>
							  <div class="mt-8 flex items-center gap-x-6">
								<a href="#" class="text-sm font-semibold text-white">Ladda ner en PDF <span aria-hidden="true">&rarr;</span></a>
							  </div>
							</div>
							<div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-2 sm:gap-y-2 lg:mx-0 lg:max-w-none lg:pl-8">
							  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
							  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
							</div>
						  </div>
						</div>
					  </div>
	
				</div>
	
				</section>		
				<section x-data="{ open: false }" class="">
					<div class="wrapper-hero-video">
						<video class="inset-0 w-screen aspect-video" playsinline autoplay muted loop>
							<source src="../assets/video/daylight.mp4" type="video/mp4">
						</video>
					</div>
					<div class="wrapper">
						<h2 class="text-2xl py-4 text-center invisible">Daylight</h2>
						<p class="text-center  tracking-wide">Vår största studio på 300 m2 (20x15meter), två stora fönster (310x310) med löstagbara spröjs,
							samt glaspyramiden på taket, ger ett fantastiskt ljus som dessutom är fullt kontrollerbart med mörkläggningsgardiner. Rundhorisont mot tak och golv samt i hörnet. 8 meter till tak, 3-fas 64 amp, flyttbar entresol för fotografering ovanifrån
						</p>
						<div class="flex items-center justify-center py-8">
							<button @click="open = ! open" type="button" class=" bg-gray-900 rounded w-2/3">
								<p class="text-sm leading-6 text-white">Läs mer</p>
								<span class="sr-only">Dismiss</span>
							</button>
						</div>
					</div>
					<div x-show="open" @click.outside="open = false" class="w-full">
						<div class="bg-gray-900 py-8 ">
							<div class="mx-auto max-w-7xl px-6 lg:px-8">
							  <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
								<div class="mx-auto w-full max-w-xl lg:mx-0">
								  <h2 class="text-3xl font-bold tracking-tight text-white">DAYLIGHT</h2>
								  <p class="mt-6 text-lg leading-8 text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue.</p>
								  <div class="mt-8 flex items-center gap-x-6">
									<a href="#" class="text-sm font-semibold text-white">Ladda ner en PDF <span aria-hidden="true">&rarr;</span></a>
								  </div>
								</div>
								<div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-2 sm:gap-y-2 lg:mx-0 lg:max-w-none lg:pl-8">
								  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
								  <img class="max-h-42 w-full object-contain object-left" src="assets/images/unsplash1.jpg" alt="1" width="385" height="600">
								</div>
							  </div>
							</div>
						  </div>
		
					</div>
		
					</section>	
				</MainLayout>	
				<script>
					function playPauseVideo() {
						let videos = document.querySelectorAll("video");
						videos.forEach((video) => {
							// We can only control playback without insteraction if video is mute
							video.muted = true;
							// Play is a promise so we need to check we have it
							let playPromise = video.play();
							if (playPromise !== undefined) {
								playPromise.then((_) => {
									let observer = new IntersectionObserver(
										(entries) => {
											entries.forEach((entry) => {
												if (
													entry.intersectionRatio !== 1 &&
													!video.paused
												) {
													video.pause();
												} else if (video.paused) {
													video.play();
												}
											});
										},
										{ threshold: 0.9 }
									);
									observer.observe(video);
								});
							}
						});
					}
		
					// And you would kick this off where appropriate with:
					playPauseVideo();
				</script>




	<style is:global>
		html {
			font-family: system-ui, sans-serif;
			font-size: 1.25rem;
			line-height: 1.5;
		}
		img,
		svg,
		video {
			max-width: 100%;
			display: block;
		}
		body {
			
			
			font-family: 'Roboto', sans-serif;
			line-height: 1.4;
			overflow-x: hidden;
		
}
	
		.wrapper {
			width: min(75ch, 100% - 4rem);
			margin-inline: auto;
		}

	</style>