---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="">
	<container>
		<section class="section">
			<div class="hero_video">
				<video class="video-bg" autoplay muted>
					<source src="../test_v2_comp.mp4" type="video/mp4">
				</video>
			</div>
			<div class="hero_text">
				<h2>Studion</h2>
				<p>1200 kvadratmeter fördelat på 4 studios, podd-studio och sköna sociala utrymmen.
					Ojämförbart med allt och med obegränsade möjligheter erbjuder studion produktioner i allt från flerrumsbyggen, vassåkrar och ösregn till totalt mörker och dagsljus.
					Livesändningar, podd-produktioner, snickeri och ytor för volym och logistik.
					Oavsett du kommer som produktionsbolag, fotograf eller inhouseavdelningen kommer din produktion nå nya höjder på studion. Här finns inga problem, bara lösningar i en historisk atmosfär!
					Välkommen!
				</p>
			</div>
		</section>
		<section class="section">
			<div class="hero_video">
				<video class="video-bg" autoplay muted>
					<source src="../test_v2_comp.mp4" type="video/mp4">
				</video>
			</div>
			<div class="hero_text">
				<h2>Studion</h2>
				<p>1200 kvadratmeter fördelat på 4 studios, podd-studio och sköna sociala utrymmen.
					Ojämförbart med allt och med obegränsade möjligheter erbjuder studion produktioner i allt från flerrumsbyggen, vassåkrar och ösregn till totalt mörker och dagsljus.
					Livesändningar, podd-produktioner, snickeri och ytor för volym och logistik.
					Oavsett du kommer som produktionsbolag, fotograf eller inhouseavdelningen kommer din produktion nå nya höjder på studion. Här finns inga problem, bara lösningar i en historisk atmosfär!
					Välkommen!
				</p>
			</div>
		</section>
	</container>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
	.section {
		min-height: 100vh;
	}
	.hero_video {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-bottom: 100px;
		position: relative;
		overflow: hidden;
		min-height: 60vh;
	}

	.video-bg {
		position: absolute;
		inset: 0;
		margin: auto;

		
	}
	.hero_text {
		text-align: center;
		width: 80%;
		margin: 0 auto;
		max-width: 960px;

	}
</style>

