---
import SiteLayout from '../layouts/SiteLayout.astro';
import Expand from '../components/expanding.astro';
---


	<container>
		<section class="">
			<div class="">
				<video class="inset-0 w-full aspect-video" autoplay muted loop>
					<source src="../assets/video/studion_1.mp4" type="video/mp4">
				</video>
			</div>
			<div class="wrapper-hero-text">
				<h2 class="text-2xl py-4">Studion</h2>
				<p class="tracking-wide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti, sint distinctio deserunt vel unde consequatur sequi nobis necessitatibus quis ad officiis doloremque ab, blanditiis facere possimus obcaecati voluptate sed!
					Voluptas, ipsa porro? Ex nostrum culpa magnam magni officiis laboriosam fugit molestias amet reiciendis sunt facere, debitis odit neque totam natus ad aliquam minus, sed repellat eveniet, et impedit ipsa.
				</p>
			</div>
			<Expand />

		</section>
		<section class="">
			<div class="wrapper-hero-video">
				<video class="inset-0 w-screen aspect-video" autoplay muted loop>
					<source src="../assets/video/daylight_1.mp4" type="video/mp4">
				</video>
			</div>
			<div class="wrapper-hero-text">
				<h2 class="text-2xl py-4">Studion</h2>
				<p class="tracking-wide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti, sint distinctio deserunt vel unde consequatur sequi nobis necessitatibus quis ad officiis doloremque ab, blanditiis facere possimus obcaecati voluptate sed!
					Voluptas, ipsa porro? Ex nostrum culpa magnam magni officiis laboriosam fugit molestias amet reiciendis sunt facere, debitis odit neque totam natus ad aliquam minus, sed repellat eveniet, et impedit ipsa.
				</p>
			</div>
			<Expand />
		</section>		

	</container>

	<style is:global>
		html {
			font-family: system-ui, sans-serif;
			font-size: 1.25rem;
			line-height: 1.5;
		}
		img,
		svg,
		video {
			max-width: 100%;
			display: block;
		}
	
		.wrapper-hero-text {
			width: min(70ch, 100% - 4rem);
			margin-inline: auto;
			text-align: center;
		}
		.quick-example {
			margin: 1rem;
			padding: 1rem;
			background: hsl(200 50% 50% / 0.4);
			border-radius: 0.5rem;
	
			display: grid;
			grid-template-rows: 0fr;
			transition: grid-template-rows 500ms;
			}
	
		.quick-example > div {
			overflow: hidden;
			}
	
		.quick-example:hover {
			grid-template-rows: 1fr;
			}
	
	</style>