---


---
<html lang="sv">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta
  			name="description"
  			content="Mary's simple recipe for maple bacon donuts
           	makes a sticky, sweet treat with just a hint
          	of salt that you'll keep coming back for.">
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="">
		 
			<span x-text="count"></span>
		</div>
	<container>
		<section class="">
			<div class="">
				<video class="inset-0 w-full aspect-video" autoplay muted loop>
					<source src="../assets/video/studion_1.mp4" type="video/mp4">
				</video>
			</div>
		
			<div class="wrapper">
				<h2 class="text-2xl py-4 text-center">Studion</h2>
				<p class="text-center tracking-wide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti, sint distinctio deserunt vel unde consequatur sequi nobis necessitatibus quis ad officiis doloremque ab, blanditiis facere possimus obcaecati voluptate sed!
					Voluptas, ipsa porro? Ex nostrum culpa magnam magni officiis laboriosam fugit molestias amet reiciendis sunt facere, debitis odit neque totam natus ad aliquam minus, sed repellat eveniet, et impedit ipsa.
				</p>
			</div>

			<div
			class="accordion-wrapper"
			x-data='{	
			  studions:[
				  {
					  question : "Se mer om Studion?",
					  answer : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti, sint distinctio deserunt vel unde consequatur sequi nobis necessitatibus quis ad officiis doloremque aboluptas, ipsa porro? Ex nostrum culpa magnam magni officiis laboriosam fugit molestias amet reiciendis sunt facere, debitis odit neque totam natus ad aliquam minus, sed repellat eveniet, et impedit ipsa.",
					  isOpen : true,
				  },
				  ]
		  	}'>

				<div class="accordion">
				<template x-for="studion in studions" :key="studion.question">
					<div class="accordion-body">
					<button class="accordion-button" @click="studion.isOpen=!studion.isOpen">
						<div x-text="studion.question"></div>
					</button>
					<div
						class="accordion-content"
						x-show="!studion.isOpen"
						x-transition:enter-start="opacity-0 transition-500 transitionX-100"
						x-transition:enter-end="opacity-100 transition-500 transitionX-0"
					>
						<p x-text="studion.answer"></p>
					</div>
					</div>
				</template>
				</div>
		  	</div>
		</section>
		<section class="">
			<div class="wrapper-hero-video">
				<video class="inset-0 w-screen aspect-video" autoplay muted loop>
					<source src="../assets/video/daylight_1.mp4" type="video/mp4">
				</video>
			</div>
			<div class="wrapper">
				<h2 class="text-2xl py-4 text-center">Studion</h2>
				<p class="text-center  tracking-wide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti, sint distinctio deserunt vel unde consequatur sequi nobis necessitatibus quis ad officiis doloremque ab, blanditiis facere possimus obcaecati voluptate sed!
					Voluptas, ipsa porro? Ex nostrum culpa magnam magni officiis laboriosam fugit molestias amet reiciendis sunt facere, debitis odit neque totam natus ad aliquam minus, sed repellat eveniet, et impedit ipsa.
				</p>
			</div>

			 <div
			class="accordion-wrapper"
			x-data='{	
			  daylights:[
				  {
					  question : "Se mer om Daylight?",
					  answer : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti, sint distinctio deserunt vel unde consequatur sequi nobis necessitatibus quis ad officiis doloremque aboluptas, ipsa porro? Ex nostrum culpa magnam magni officiis laboriosam fugit molestias amet reiciendis sunt facere, debitis odit neque totam natus ad aliquam minus, sed repellat eveniet, et impedit ipsa.",
					  isOpen : true,
				  },
				  ]
		  	}'>

				<div class="accordion">
				<template x-for="daylight in daylights" :key="daylight.question">
					<div class="accordion-body">
					<button class="accordion-button" @click="daylight.isOpen=!daylight.isOpen">
						<div x-text="daylight.question"></div>
					</button>
					<div
						class="accordion-content"
						x-show="!daylight.isOpen"
						x-transition:enter-start="opacity-0 transition-500 transitionX-100"
						x-transition:enter-end="opacity-100 transition-500 transitionX-0"
					>
						<p x-text="daylight.answer"></p>
					</div>
					</div>
				</template>
				</div>
		  	</div>
		
		
		
		
			</section>		

	</container>
</body>
</html>
	<style is:global>
		html {
			font-family: system-ui, sans-serif;
			font-size: 1.25rem;
			line-height: 1.5;
		}
		img,
		svg,
		video {
			max-width: 100%;
			display: block;
		}
		body {
			
			
			font-family: 'Roboto', sans-serif;
			line-height: 1.4;
			overflow-x: hidden;
		
}
	
		.wrapper {
			width: min(70ch, 100% - 4rem);
			margin-inline: auto;
		}
		.quick-example {
			margin: 1rem;
			padding: 1rem;
			background: hsl(200 50% 50% / 0.4);
			border-radius: 0.5rem;
	
			display: grid;
			grid-template-rows: 0fr;
			transition: grid-template-rows 500ms;
			}
	
		.quick-example > div {
			overflow: hidden;
			}
	
		.quick-example:hover {
			grid-template-rows: 1fr;
			}



.accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.accordion-content[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

.accordion-content > div {
  overflow: hidden;
}

.accordion {
 
  padding: 1rem;
}

.accordion-panel {
  padding: 1rem;
  border: 1px solid;
}

.accordion h2 {
  position: relative;
}

.accordion-wrapper {
  width: 100%;
  max-width: 70rem;
  margin: .5rem auto;
  padding: .5rem 1rem;
  background-color: #f4f4f4;

}
.accordion {
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.accordion-button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: .5rem 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  
}
.accordion-button div {
  
  font-weight: 700;
  color: #191919;
  flex: 1;
  text-align: center;
}
.accordion-body:not(.accordion-body:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}
.accordion-content p {
  line-height: 1.4;
  font-size: 400;
  padding: 1rem 0;
  color: #303030;
}
/* These Classes Used in Alpine Js for Transition Effects */

.transition-500 {
  transition: all 1s ease-in-out;
}
.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}
.transitionX-100 {
  transform: translateX(-100%);
}
.transitionX-0 {
  transform: translateX(0);
}







	</style>