---
import MainLayout from '../layouts/MainLayout.astro';

// import the Image component and the image
import { Image } from 'astro:assets';
import KontaktImage from '../assets/images/kontakt.jpg';
---

<MainLayout>
  <section id="hero" class="pt-16">
    <div class="">
      <Image src={KontaktImage} alt="Kontakt" class="w-full object-center" />
    </div>
    <div class="max-w-3xl
        mx-auto
        text-center
        mt-6">
      <h1 class="text-lg text-gray-900 sm:text-xl uppercase">
        STUDION PRODUKTION BORÅS AB
      </h1><address>
        <p class="">
          Hållingsgatan 15, 504 95 Borås | <a
            href="https://maps.app.goo.gl/eD8jxFSykT2c8mmEA">Vägbeskrivning</a
          >
        </p>
        <p>
          <a href="mailto:pierre@studion.se">info@studion.se</a> | <a
            href="tel:+46 705 - 12 06 62">+46 705 - 12 06 62</a
          >
        </p>
      </address>
    </div>
    <div
      class="max-w-7xl mx-auto grid sm:grid-rows sm:grid-cols-2 md:grid-cols-4 gap-4 my-8 sm:my-32 text-center"
    >
      <div class="">
        <address class="not-italic">
          <p>PIERRE ELIASSON</p>
          <a href="mailto:pierre@studion.se">pierre@studion.se</a><br />
        </address>
      </div>
      <div class="">
        <address class="not-italic">
          <p>PETER ANDERSSON</p>
          <a href="mailto:peter@studion.se">peter@studion.se</a><br />
        </address>
      </div>
      <div class="">
        <address class="not-italic">
          <p>JOHAN HULTMAN</p>
          <a href="mailto:johan@studion.se">johan@studion.se</a><br />
        </address>
      </div>
      <div class="">
        <address class="not-italic">
          <p>KLAS SVENSSON</p>
          <a href="mailto:klas@studion.se">klas@studion.se</a><br />
        </address>
      </div>
    </div>
  </section>
</MainLayout>
