---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <section id="hero" class="pt-16">
    <div class="">
      <img
        src="../assets/images/kontakt.jpg"
        alt=""
        class="w-full object-center mt-"
      />
    </div>

    <div class="max-w-3xl mx-auto text-center mt-6">
      <h1 class="text-lg text-gray-900 sm:text-xl uppercase">
        STUDION PRODUKTION I BORÅS AB
      </h1><address>
        <p class="">
          Hållingsgatan 15, 504 95 Borås | <a
            href="https://maps.app.goo.gl/eD8jxFSykT2c8mmEA">Vägbeskrivning</a
          >
        </p>
      </address>
    </div>
    <div
      class="max-w-7xl mx-auto grid sm:grid-rows sm:grid-cols-2 md:grid-cols-4 gap-4 my-32 text-center"
    >
      <div class="">
        <address class="not-italic">
          <p>PIERRE ELIASSON</p>
          <a href="mailto:pierre@studion.se">pierre@studion.se</a><br />
          <a href="tel:+46 705 - 12 06 62">+46 705 - 12 06 62</a>
        </address>
      </div>
      <div class="">
        <address class="not-italic">
          <p>PETER ANDERSSON</p>
          <a href="mailto:pierre@studion.se">peter@studion.se</a><br />
          <a href="tel:+46 705 - 12 06 62">+46 735 - 24 12 81</a>
        </address>
      </div>
      <div class="">
        <address class="not-italic">
          <p>JOHAN HULTMAN</p>
          <a href="mailto:pierre@studion.se">johan@studion.se</a><br />
          <a href="tel:+46 705 - 12 06 62">+46 703 - 72 54 64</a>
        </address>
      </div>
      <div class="">
        <address class="not-italic">
          <p>KLAS SVENSSON</p>
          <a href="mailto:pierre@studion.se">klas@studion.se</a><br />
          <a href="tel:+46 705 - 12 06 62">+46 705 - 12 41 71</a>
        </address>
      </div>
    </div>
  </section>
</MainLayout>
