---
import MainLayout from '../layouts/MainLayout.astro';
import Info from '../components/InfoBox.astro';
---

<MainLayout title="Studion">
  <section id="Daylight" class="">
    <div class="">
      <img
        src="../assets/images/daylight.png"
        alt=""
        class="w-full object-center block sm:hidden"
      />
      <video
        id="video1"
        class="inset-0 w-full hidden sm:block"
        playsinline
        autoplay
        muted
        loop
      >
        <source src="../assets/video/daylight.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="max-w-3xl m-auto text-center mt-6">
      <h2 class="text-lg text-gray-900 sm:text-xl uppercase">
        DAYLIGHT | REJÄLA UTRYMMEN OCH FANTASTISKT LJUS
      </h2>
      <p class="pt-4">
        1200 kvadratmeter fördelat på 4 studios, podd-studio och sköna sociala
        utrymmen. Ojämförbart med allt och med obegränsade möjligheter erbjuder
        studion produktioner i allt från flerrumsbyggen, vassåkrar och ösregn
        till totalt mörker och dagsljus. Livesändningar, podd-produktioner,
        snickeri och ytor för volym och logistik. Oavsett du kommer som
        produktionsbolag, fotograf eller inhouseavdelningen kommer din
        produktion nå nya höjder på studion. Här finns inga problem, bara
        lösningar i en historisk atmosfär!
      </p>
    </div>
    <Info />
  </section>

  <section id="Ecom" class="">
    <div class="">
      <img
        src="../assets/images/daylight.jpg"
        alt=""
        class="w-full object-center mt- block sm:hidden"
      />
      <video
        id="video1"
        class="inset-0 w-full hidden sm:block"
        playsinline
        autoplay
        muted
        loop
      >
        <source src="../assets/video/ecom.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="max-w-3xl m-auto text-center mt-6">
      <h2 class="text-lg text-gray-900 sm:text-xl uppercase">
        E-COM | INGET SPRING GER TAJTA PRODUKTIONER
      </h2>
      <p class="pt-4">
        En utpräglad modestudio på 102 m2 (12x8,5meter) med 6 meter till tak.
        Med direkt anslutning till modellrum och plats för hantering av kläder
        är det ett logistiskt mästerverk! Rundhorisont över tak, golv samt i
        hörn, utrustad med flyttbar entresol för fotografering från ovan finns
        inga begränsningar ur ett kreativt perspektiv.
      </p>
    </div>
    <Info />
  </section>

  <section id="Highlight" class="">
    <div class="">
      <img
        src="../assets/images/highlight.jpg"
        alt=""
        class="w-full object-center mt- block sm:hidden"
      />
      <video
        id="video1"
        class="inset-0 w-full hidden sm:block"
        playsinline
        autoplay
        muted
        loop
      >
        <source src="../assets/video/highlight.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="max-w-3xl m-auto text-center mt-6">
      <h2 class="text-lg text-gray-900 sm:text-xl uppercase">
        E-COM | INGET SPRING GER TAJTA PRODUKTIONER
      </h2>
      <p class="pt-4">
        En utpräglad modestudio på 102 m2 (12x8,5meter) med 6 meter till tak.
        Med direkt anslutning till modellrum och plats för hantering av kläder
        är det ett logistiskt mästerverk! Rundhorisont över tak, golv samt i
        hörn, utrustad med flyttbar entresol för fotografering från ovan finns
        inga begränsningar ur ett kreativt perspektiv.
      </p>
    </div>
    <Info />
  </section>
  <script>
    function playPauseVideo() {
      let videos = document.querySelectorAll('video');
      videos.forEach((video) => {
        // We can only control playback without insteraction if video is mute
        video.muted = true;
        // Play is a promise so we need to check we have it
        let playPromise = video.play();
        if (playPromise !== undefined) {
          playPromise.then((_) => {
            let observer = new IntersectionObserver(
              (entries) => {
                entries.forEach((entry) => {
                  if (entry.intersectionRatio !== 1 && !video.paused) {
                    video.pause();
                  } else if (video.paused) {
                    video.play();
                  }
                });
              },
              { threshold: 0.6 }
            );
            observer.observe(video);
          });
        }
      });
    }

    // And you would kick this off where appropriate with:
    playPauseVideo();
  </script>
</MainLayout>
