---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Studion">
  <section id="studion" class="">
    <div class="">
      <img
        src="../assets/images/studion.png"
        alt=""
        class="w-full object-center mt- hidden"
      />
      <video id="video1" class="inset-0 w-full" playsinline autoplay muted loop>
        <source src="../assets/video/daylight.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="wrapper mt-6">
      <h2 class="text-2xl py-1 text-center hidden">Daylight</h2>
      <p class="text-center tracking-wide">
        1200 kvadratmeter fördelat på 4 studios, podd-studio och sköna sociala
        utrymmen. Ojämförbart med allt och med obegränsade möjligheter erbjuder
        studion produktioner i allt från flerrumsbyggen, vassåkrar och ösregn
        till totalt mörker och dagsljus. Livesändningar, podd-produktioner,
        snickeri och ytor för volym och logistik. Oavsett du kommer som
        produktionsbolag, fotograf eller inhouseavdelningen kommer din
        produktion nå nya höjder på studion. Här finns inga problem, bara
        lösningar i en historisk atmosfär!
      </p>
    </div>
    <div class="w-full bg-gray-900 mt-12">
      <div class="mx-auto max-w-7xl">
        <h2 class="text-6xl text-white">Daylight</h2>
        <div
          class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2"
        >
          <div class="mx-auto w-full max-w-xl lg:mx-0">
            <p class="mt-6 text-lg leading-8 text-gray-300">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
              egestas tempus tellus etiam sed. Quam a scelerisque amet
              ullamcorper eu enim et fermentum, augue.
            </p>
            <div class="mt-8 flex items-center gap-x-6">
              <a href="#" class="text-sm font-semibold text-white"
                >Ladda ner en PDF <span aria-hidden="true">&rarr;</span></a
              >
            </div>
          </div>
          <div
            class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-2 sm:gap-y-2 lg:mx-0 lg:max-w-none lg:pl-8"
          >
            <img
              class="max-h-42 w-full object-contain object-left"
              src="assets/images/unsplash1.jpg"
              alt="1"
              width="385"
              height="600"
            />
            <img
              class="max-h-42 w-full object-contain object-left"
              src="assets/images/unsplash1.jpg"
              alt="1"
              width="385"
              height="600"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="studion" class="">
    <div class="">
      <img
        src="../assets/images/studion.png"
        alt=""
        class="w-full object-center mt- hidden"
      />
      <video id="video1" class="inset-0 w-full" playsinline autoplay muted loop>
        <source src="../assets/video/ecom.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="wrapper mt-6">
      <h2 class="text-2xl py-1 text-center hidden">E-Com</h2>
      <p class="text-center tracking-wide">
        1200 kvadratmeter fördelat på 4 studios, podd-studio och sköna sociala
        utrymmen. Ojämförbart med allt och med obegränsade möjligheter erbjuder
        studion produktioner i allt från flerrumsbyggen, vassåkrar och ösregn
        till totalt mörker och dagsljus. Livesändningar, podd-produktioner,
        snickeri och ytor för volym och logistik. Oavsett du kommer som
        produktionsbolag, fotograf eller inhouseavdelningen kommer din
        produktion nå nya höjder på studion. Här finns inga problem, bara
        lösningar i en historisk atmosfär!
      </p>
    </div>
    <div class="w-full bg-gray-900 mt-12">
      <div class="mx-auto max-w-7xl">
        <h2 class="text-6xl text-white">E-Com</h2>
        <div
          class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2"
        >
          <div class="mx-auto w-full max-w-xl lg:mx-0">
            <p class="mt-6 text-lg leading-8 text-gray-300">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
              egestas tempus tellus etiam sed. Quam a scelerisque amet
              ullamcorper eu enim et fermentum, augue.
            </p>
            <div class="mt-8 flex items-center gap-x-6">
              <a href="#" class="text-sm font-semibold text-white"
                >Ladda ner en PDF <span aria-hidden="true">&rarr;</span></a
              >
            </div>
          </div>
          <div
            class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-2 sm:gap-y-2 lg:mx-0 lg:max-w-none lg:pl-8"
          >
            <img
              class="max-h-42 w-full object-contain object-left"
              src="assets/images/unsplash1.jpg"
              alt="1"
              width="385"
              height="600"
            />
            <img
              class="max-h-42 w-full object-contain object-left"
              src="assets/images/unsplash1.jpg"
              alt="1"
              width="385"
              height="600"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section x-data="{ open: false }" class="">
    <div class="wrapper-hero-video">
      <video
        id="video2"
        class="inset-0 w-screen aspect-video"
        playsinline
        autoplay
        muted
        loop
      >
        <source src="../assets/video/daylight.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="wrapper">
      <h2 class="text-2xl py-4 text-center invisible">Daylight</h2>
      <p class="text-center tracking-wide">
        Vår största studio på 300 m2 (20x15meter), två stora fönster (310x310)
        med löstagbara spröjs, samt glaspyramiden på taket, ger ett fantastiskt
        ljus som dessutom är fullt kontrollerbart med mörkläggningsgardiner.
        Rundhorisont mot tak och golv samt i hörnet. 8 meter till tak, 3-fas 64
        amp, flyttbar entresol för fotografering ovanifrån
      </p>
      <div class="flex items-center justify-center py-8">
        <button
          @click="open = ! open"
          type="button"
          class="bg-gray-900 rounded w-2/3"
        >
          <p class="text-sm leading-6 text-white">Läs mer</p>
          <span class="sr-only">Dismiss</span>
        </button>
      </div>
    </div>
    <div x-show="open" @click.outside="open = false" class="w-full">
      <div class="bg-gray-900 py-8">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div
            class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2"
          >
            <div class="mx-auto w-full max-w-xl lg:mx-0">
              <h2 class="text-3xl font-bold tracking-tight text-white">
                DAYLIGHT
              </h2>
              <p class="mt-6 text-lg leading-8 text-gray-300">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                egestas tempus tellus etiam sed. Quam a scelerisque amet
                ullamcorper eu enim et fermentum, augue.
              </p>
              <div class="mt-8 flex items-center gap-x-6">
                <a href="#" class="text-sm font-semibold text-white"
                  >Ladda ner en PDF <span aria-hidden="true">&rarr;</span></a
                >
              </div>
            </div>
            <div
              class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-2 sm:gap-y-2 lg:mx-0 lg:max-w-none lg:pl-8"
            >
              <img
                class="max-h-42 w-full object-contain object-left"
                src="assets/images/unsplash1.jpg"
                alt="1"
                width="385"
                height="600"
              />
              <img
                class="max-h-42 w-full object-contain object-left"
                src="assets/images/unsplash1.jpg"
                alt="1"
                width="385"
                height="600"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
<script>
  function playPauseVideo() {
    let videos = document.querySelectorAll('video');
    videos.forEach((video) => {
      // We can only control playback without insteraction if video is mute
      video.muted = true;
      // Play is a promise so we need to check we have it
      let playPromise = video.play();
      if (playPromise !== undefined) {
        playPromise.then((_) => {
          let observer = new IntersectionObserver(
            (entries) => {
              entries.forEach((entry) => {
                if (entry.intersectionRatio !== 1 && !video.paused) {
                  video.pause();
                } else if (video.paused) {
                  video.play();
                }
              });
            },
            { threshold: 0.9 }
          );
          observer.observe(video);
        });
      }
    });
  }

  // And you would kick this off where appropriate with:
  playPauseVideo();
</script>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  img,
  svg,
  video {
    max-width: 100%;
    display: block;
  }
  body {
    line-height: 1.4;
    overflow-x: hidden;
  }

  .wrapper {
    width: min(75ch, 100% - 4rem);
    margin-inline: auto;
  }
</style>
