---


---
<html lang="sv" class="snap-y snap-mandatory ">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta
  			name="description"
  			content="Mary's simple recipe for maple bacon donuts
           	makes a sticky, sweet treat with just a hint
          	of salt that you'll keep coming back for.">
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
       
	</head>
	<body class="">
        

            <div class="snap-start snap-always w-screen h-screen">
                <video class="inset-0 -z-10 w-screen h-3/4 object-cover" autoplay muted loop>
                    <source src="../assets/video/studion_1.mp4" type="video/mp4">
                </video>

            
                <div class="absolute inset-x-0 h-1/4">
                    <div class="mx-auto max-w-4xl text-center ">
                        <h1 class="text-xl tracking-tight text-gray-900">Studion</h1>
                        <p class="mt-6 text-lg leading-8 text-gray-600">1200 kvadratmeter fördelat på 4 studios, podd-studio och sköna sociala utrymmen.
                            Ojämförbart med allt och med obegränsade möjligheter erbjuder studion produktioner i allt från flerrumsbyggen, vassåkrar och ösregn till totalt mörker och dagsljus.
                            Livesändningar, podd-produktioner, snickeri och ytor för volym och logistik.
                            Oavsett du kommer som produktionsbolag, fotograf eller inhouseavdelningen kommer din produktion nå nya höjder på studion. Här finns inga problem, bara lösningar i en historisk atmosfär!
                            Välkommen!</p>
                    </div>
                    <div class="mt-10 flex items-center justify-center gap-x-6">
                        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Läs mer <span aria-hidden="true">→</span></a>
                    </div>
                </div>
            </div>



            <div class="snap-start snap-always w-screen h-screen">
                <video class="inset-0 -z-10 w-screen h-3/4 object-cover" autoplay muted loop>
                    <source src="../assets/video/daylight_1.mp4" type="video/mp4">
                </video>

            
                <div class="absolute inset-x-0 h-1/4">
                    <div class="mx-auto max-w-4xl text-center ">
                        <h1 class="text-xl tracking-tight text-gray-900">Daylight</h1>
                        <p class="mt-6 text-lg leading-8 text-gray-600">Vår största studio på 300 m2 (20x15meter), två stora fönster (310x310) med löstagbara spröjs,
                            samt glaspyramiden på taket, ger ett fantastiskt ljus som dessutom är fullt kontrollerbart med mörkläggningsgardiner. Rundhorisont mot tak och golv samt i hörnet. 8 meter till tak, 3-fas 64 amp, flyttbar entresol för fotografering ovanifrån</p>
                    </div>
                    <div class="mt-10 flex items-center justify-center gap-x-6">
                        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Läs mer <span aria-hidden="true">→</span></a>
                    </div>
                </div>
            </div>


            <div class="snap-start snap-always  bg-amber-200 w-screen h-screen flex items-center justify-center text-8xl">1</div>
            <div class="snap-start snap-always bg-teal-200 w-screen h-screen flex items-center justify-center text-8xl">2</div>
            <div class="snap-start snap-always bg-cyan-200 w-screen h-screen flex items-center justify-center text-8xl">3</div>
            <div class="snap-start snap-always bg-fuchsia-200 w-screen h-screen flex items-center justify-center text-8xl">4</div>
       


    </body>
</html>
