---
// import the Image component and the image
import { Image } from 'astro:assets';

import Kund from '../assets/images/customers.png';
---

<section class="border-2 my-12">
  <Image src={Kund} alt="Kunder" class="w-full" />
</section>
