---
// import the Image component and the image
import { Image } from 'astro:assets';
import HeroImage from '../assets/images/hero-studion.jpg';
---

<section id="hero" class="pt-16">
  <div class="">
    <Image
      src={HeroImage}
      alt="Studion Produktion"
      class="w-full object-center block sm:hidden"
    />
    <video
      id="video1"
      class="inset-0 w-full hidden sm:block"
      playsinline
      autoplay
      muted
      loop
    >
      <source src="../assets/video/studion.mp4" type="video/mp4" />
    </video>
  </div>

  <div class="max-w-3xl mx-auto text-center mt-6 mx-4">
    <h1 class="text-lg text-gray-900 sm:text-xl uppercase">
      Låt din produktion nå nya höjder på Studion!
    </h1>
    <p class="pt-4">
      Oavsett du kommer som produktionsbolag, fotograf eller inhouseavdelningen
      kommer din produktion nå nya höjder på studion.
    </p>

    <p class="pt-4">
      1200 kvadratmeter fördelat på 4 studios, podd-studio och sköna sociala
      utrymmen. Ojämförbart med allt och med obegränsade möjligheter erbjuder <span
        class="font-bold">Studion Produktioner</span
      > i allt från flerrumsbyggen, vassåkrar och ösregn till totalt mörker och
      dagsljus. Livesändningar, podd-produktioner, snickeri och ytor för volym
      och logistik. All tänkbar utrustning för bild, film och ljud i hyllan.
    </p>
    <p class="pt-4">
      <span class="font-bold"></span>Här finns inga problem, bara lösningar i en
      historisk atmosfär!
    </p>
    <p class="pt-4">Välkommen till gänget!</p>
  </div>
</section>
