<div class="grid grid-rows-1 sm:grid-cols-2 bg-gray-100 mt-8">
  <div class="grid grid-cols-2">
    <div class="w-full m-4">
      <ul class="">
        MÅTT
        <li class="">B: 11,6 m</li>
        <li class="">D: 20,5 m</li>
        <li class="">H: 5,1 m</li>
      </ul>
      <ul class="mt-2">
        <li class="">Fönster</li>
        <li class="">Vägg</li>
        <li class="">2st 310x310</li>
        <li class="">1st 155x200</li>
        <li class="">väderstreck syd</li>
        <li class="">Tak 20x2 m</li>
      </ul>
    </div>
    <div class="w-full m-4">
      <ul class="">
        ELEKTRISITET
        <li class="">1st 3-fas 64 amp</li>
        <li class="">3st 3-fas 16 amp</li>
      </ul>
      <ul class="mt-2">
        LJUD
        <li class="">Sonos</li>
      </ul>
      <ul class="mt-2">
        BALKONG
        <li class="">Flyttbar entresol höjd 3,4 m</li>
      </ul>
    </div>
  </div>
  <div class="bg-gray-200 m-4">
    <img
      src="assets/images/info1.png"
      alt="Info"
      class="w-full h-full object-center object-cover"
    />
  </div>
</div>
