

<header class="fixed w-full bg-gray-950 mx-auto z-0 ">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-8" aria-label="Global">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="/assets/images/logga_meny.png" alt="">
        </a>
        <div class="flex lg:hidden">
    
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <a href="#" class="text-sm  leading-6 text-gray-100">Utrustning</a>
          <a href="#" class="text-sm  leading-6 text-gray-100">Kompetens</a>
          <a href="#" class="text-sm  leading-6 text-gray-100">Snickeri</a>
          <a href="#" class="text-sm  leading-6 text-gray-100">Hållbarhet</a>
          <a href="#" class="text-sm  leading-6 text-gray-100">Kontakta</a>
    
        </div>
      </nav>
</header>
