

<header class="fixed top-0 w-full bg-gray-950 mx-auto z-0">
    <div class="flex justify-between flex-col mx-auto ">
        <a href="/" class="justify-items-start">
            <img src="https://www.mimbild.se/assets/site/logga_mimbild.png" width="200px" alt="" class="">
        </a>
        <nav class="w-full right-0 flex justify-center items-center">
            <ul class="flex text-white no-underline">
                                <li class="p-4"><a class="nav__link " href="/foto">Utrustning</a></li>
                                <li class="p-4s"><a class="nav__link " href="/film">Kompetens</a></li>
                                <li class="p-4s"><a class="nav__link " href="/3d">Snickeri</a></li>
                                <li class="p-4"><a class="nav__link " href="/make">Hållbarhet</a></li>
                                <li class="p-4"><a class="nav__link " href="/make">Hållbarhet</a></li>
                
                <li class="nav__items"><a href="/#kontakt" class="nav__link">Kontakt</a></li>
            </ul>
        </nav>
    </div>
</header>