---
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
const { title } = Astro.props;
---

<html lang="sv" class="">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="1200 kvadratmeter fördelat på 4 studios, podd-studio och sköna sociala utrymmen. Ojämförbart med allt och med obegränsade möjligheter erbjuder Studion Produktioner i allt från flerrumsbyggen, vassåkrar och ösregn till totalt mörker och dagsljus. Livesändningar, podd-produktioner, snickeri och ytor för volym och logistik. All tänkbar utrustning för bild, film och ljud i hyllan."
    />
    <meta name="generator" content={Astro.generator} />
    <title>Studion</title>
  </head>
  <body class="">
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .navbar {
    overflow: hidden;
  }

  .navbar a {
    float: right;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 24px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover,
  .dropdown:hover .dropbtn {
    color: gray;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    margin-left: 8px;
    min-width: 170px;
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: white;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>
